{% extends 'base.html' %}

{% block titulo %}
  Detalle de usuario
{% endblock titulo %}

{% block contenido %}
  
    <h1>Detalle usuario</h1>
    <hr>
    <br>
    <p>Inmueble: <b>{{usuario.inmueble}}</b></p>
    <p>Derivada: <b>{{usuario.derivada}}</b></p>
    <p>Toma: <b>{{usuario.toma}}</b></p>

    <p>Nombre: <b>{{usuario.nombre}} {{usuario.apellido_paterno}} {{usuario.apellido_materno}}</b></p>
    <p>Estado civil: <b>{{usuario.get_estado_civil_display}}</b></p>
    <p>Genero: <b>{{usuario.get_genero_display}}</b></p>
    <p>Localidad: <b>{{usuario.localidad}}</b></p>
    <p>Localidad descripción: <b>{{usuario.localidad.descripcion}}</b></p>
    <hr>
    <h5>Grupos:</h5>
    <ul>
      {% for grupo in usuario.user.groups.all %}
        <li>{{grupo.name|upper}}</li>
      {% endfor %}
    </ul>

    <img width="300px" src="{{ MEDIA_URL }}{{usuario.foto}}" alt="">
    <a href="{{ MEDIA_URL }}{{usuario.archivo}}" 
      target="_blank" >
      Archivo
    </a>

    <a href="{% url 'lista_usuarios' %}">Regresar</a>
{% endblock contenido %}

