<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar usuario</title>
</head>
<body>
    <h1>Actualizar usuario</h1>
    <ul>
        <form method="post">
            {% csrf_token %}
            {{form.as_ul}}
            <input type="submit" value="Guardar">
            <a href="{% url 'lista_usuarios' %}">Cancelar</a>
        </form>
    </ul>
</body>
</html>