{% extends 'base.html' %}

{% block titulo %}
    Lista de usuarios
{% endblock titulo %}

{% block contenido %}

    <h1>Lista de usuarios</h1>
    {% include "mensajes.html" %}
    <a class="btn btn-success" href="{% url 'nuevo_usuario' %}">Nuevo</a>
    <form method="post">
        {% csrf_token %}
        
        <table>
            <tr>
                <td>{{form.nombre}}</td>
                <td>{{form.apellido_paterno}}</td>
                <td>{{form.apellido_materno}}</td>
                <td>{{form.genero}}</td>
                <td>{{form.estado_civil}}</td>
                <td>{{form.localidad}}</td>
                <td>
                    <input class="btn btn-primary" type="submit" value="Buscar">
                </td>
            </tr>
        </table>
    </form>
    <div class="row">
        <div class="col-6">
            <form method="post" action="{% url 'asigna_grupos' %}">
                {% csrf_token %}
                <select name="grupos" class="form-select">
                    {% for grupo in grupos %}
                        <option value="{{grupo.id}}">{{grupo.name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-success" type="submit">Asignar grupo</button>
        </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Inmueble</th>
                <th>Derivada</th>
                <th>Toma</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Estado civil</th>
                <th>Genero</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
              <tr>
                <td> 
                    <input type="checkbox" name="{{usuario.id}}"> 
                </td>
                <td>{{usuario.inmueble}}</td>
                <td>{{usuario.derivada}}</td>
                <td>{{usuario.toma}}</td>
                <td>{{usuario.nombre}} {{usuario.apellido_paterno}} {{usuario.apellido_materno}} </td>
                <td>{{usuario.localidad}}</td>
                <td>{{usuario.get_estado_civil_display}}</td>
                <td>{{usuario.get_genero_display}}</td>
                <td>
                    <a class="btn btn-sm btn-danger" href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
                    <a class="btn btn-sm btn-primary" href="{% url 'editar_usuario' usuario.id %}">Editar</a>
                    <a class="btn btn-sm btn-warning" href="{% url 'ver_usuario' usuario.id %}">Detalle</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </form> {% comment %}cierra form para grupos   {% endcomment %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if usuarios.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ usuarios.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ usuarios.number }} of {{ usuarios.paginator.num_pages }}.
            </span>
    
            {% if usuarios.has_next %}
                <a href="?page={{ usuarios.next_page_number }}">next</a>
                <a href="?page={{ usuarios.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock contenido %}