{% extends 'base.html' %}


{% block titulo %}
    Eliminar localidad
{% endblock titulo %}
    
{% block contenido %}
<form method="post" class="form">
    {% csrf_token %}
    <p>¿Deseas eliminar la localidad <b>{{object}}</b>?</p>
    <input type="submit" value="Eliminar" class="btn btn-danger">
    <a class="btn btn-secondary" href="{% url 'localidades:lista' %}">Regresar</a>
</form>

{% endblock contenido %}