{% extends 'base.html' %}

{% block titulo %}
    
    {% if editar %}
        Actualizar localidad
    {% else %}
        Nueva localidad
    {% endif %}
{% endblock titulo %}

{% block contenido %}
  
<div class="card">
    <h5 class="card-header">
        {% if editar %}
            Actualizar localidad
        {% else %}
            Nuevo localidad
        {% endif %}
    </h5>
    
    <div class="card-body">
        <form method="post" class="form">
            {% csrf_token %}
            {{form.as_p}}
    </div>
    <div class="card-footer">
        <input class="btn btn-success" type="submit" 
        {% if editar %}
            value="Guardar"
        {% else %}
            value="Agregar"
        {% endif %}        
        >
        <a class="btn" href="{% url 'localidades:lista' %}">Cancelar</a>
        </form>
    </div>
  </div>  
{% endblock contenido %}
