{% extends 'base.html' %}

{% block titulo %}
Lista inmuebles
{% endblock titulo %}


{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />  

    <style>
        #map { height: 580px; }
    </style>
{% endblock css %}
    

{% block contenido %}
    
    <div class="row">
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
 integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
 crossorigin=""></script>

<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

 <script>
    var map = L.map('map').setView([22.7751,-102.5739], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    puntos = []
    waypoints = []
    var myIcon = L.icon({
        iconUrl: 'http://leafletjs.com/examples/custom-icons/leaf-green.png',
        iconSize: [38, 95],
        iconAnchor: [22, 94],
        popupAnchor: [-3, -76],
        shadowUrl: 'my-icon-shadow.png',
        shadowSize: [68, 95],
        shadowAnchor: [22, 94]
    });
    {% for inmueble in inmuebles %}
        L.marker([{{inmueble.latitud}},{{inmueble.longitud}}],{icon: myIcon, draggable: true}).addTo(map);  
        /*L.circle([{{inmueble.latitud}},{{inmueble.longitud}}], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.2,
            radius: 300
        }).addTo(map);*/
        puntos.push([{{inmueble.latitud}},{{inmueble.longitud}}]);
        waypoints.push(L.latLng({{inmueble.latitud}},{{inmueble.longitud}}));

    {% endfor %}
/*
    var polygon = L.polygon([
        puntos
    ]).addTo(map);
*/
    L.Routing.control({
            language: 'es',
            lineOptions: {
                styles: [{color: 'blue', opacity: 0.3, weight: 8}],
            },
            waypoints: waypoints,
          }).addTo(map);


 </script>
{% endblock scripts %}