{% extends 'base.html' %}

{% block titulo %}
Nuevo inmueble
{% endblock titulo %}


{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <style>
        #map { height: 580px; }
    </style>
{% endblock css %}
    

{% block contenido %}
    {{form.errors}}
    <div class="row">
        <div class="col">
            <form method="post" class="form">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success" type="submit">Agregar</button>
            </form>
        </div>
        <div class="col">
            <div id="map"></div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
 integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
 crossorigin=""></script>

 <script>
    var map = L.map('map').setView([22.7751,-102.5739], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    var marker = L.marker([22.7751,-102.5739],
    {
        draggable: true,
    }
    ).addTo(map);

    marker.on('dragend', function(e){
        //alert('hola');
        document.getElementById('id_latitud').value = marker.getLatLng().lat;
        document.getElementById('id_longitud').value = marker.getLatLng().lng;
    });

 </script>
{% endblock scripts %}